<div class="row">
  <h1>{{name}}</h1>
  <div class="description">{{description}}</div>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td class="attribute-label">author</td>
        <td>
          {{author}}
        </td>
      </tr>
      <tr>
        <td class="attribute-label">repo</td>
        <td><a href="https://github.com/{{repo}}" title="GitHub repository for {{name}}">{{repo}}</a></td>
      </tr>
      <tr>
        <td class="attribute-label">version</td>
        <td>{{version}}</td>
      </tr>
      <tr>
        <td class="attribute-label">keywords</td>
        <td>{{keywords}}</td>
      </tr>
      <tr>
        <td class="attribute-label">updated</td>
        <td>{{updated}}</td>
      </tr>
      <tr>
        <td class="attribute-label">dependencies</td>
        <td>
          {{#each dependencies}}
            <a href="
              {{#if isAudio}}
                #components/{{name}}
              {{else}}
                http://github.com/{{name}}
              {{/if}}
            " title="{{name}}">{{name}}</a>
          {{/each}}
        </td>
      </tr>
      <tr>
        <td class="attribute-label">dependents</td>
        <td>
          {{#each dependents}}
            <a href="
              {{#if isAudio}}
                #components/{{name}}
              {{else}}
                http://github.com/{{name}}
              {{/if}}
            " title="{{name}}">{{name}}</a>
          {{/each}}
        </td>
      </tr>
      <tr>
        <td class="attribute-label">watchers</td>
        <td>{{stars}} stars</td>
      </tr>
    </tbody>
  </table>
  <div class="activate-player">
    <a href="#">Demo this module</a>
  </div>
</div>
